/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FA1570;
  color: #FA1570;
}

/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  .btn-info {
    background-color: #fa1570;
    border-color: #fa1570;
    height: 35px;
    width: 100px;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
  .btn-info {
    background-color: #fa1570;
    border-color: #fa1570;
    height: 40px;
    width: 100px;
    padding: 5px;
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width:992px) and (max-width: 1191px) {
  html {
    font-size: 18px;
  }
  .btn-info {
    background-color: #fa1570;
    border-color: #fa1570;
    height: 47px;
    width: 100px;
    padding: 5px;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  .btn-info {
    background-color: #fa1570;
    border-color: #fa1570;
    height: 47px;
    width: 100px;
    padding: 5px;
  }
}

h4 {
  font-size: 1.5rem;
}

.alert-success {
  background-color: #56b76d;
  border-color: #fff;
}
.alert-danger {
  background-color: #e01e37;
  border-color: #fff;
}
.alert-info{
  background-color: #87ccf7;
  border-color: #fff;
}

.btn-success {
  background-color: #29a746;
  border-color: #29a746;
}

.btn-danger {
  background-color: #ff1743;
  border-color: #ff1743;
}